<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.admin.dao.SysMenuDao">
    <!--字段-->
    <sql id="field">
        a.id,
        a.parent_id AS parentId,
        a.code,
        a.name,
        a.icon,
        a.menu_order AS menuOrder,
        a.menu_type AS menuType,
        a.menu_url AS menuUrl,
        a.menu_status AS menuStatus,
        a.open_type AS openType,
        a.permission,
        a.create_user AS createUser,
        a.create_time AS createTime,
        a.update_user AS updateUser,
        a.update_time AS updateTime
    </sql>

    <!--新增菜单信息-->
    <insert id="insert" parameterType="sysMenu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_menu (
            parent_id,
            code,
            name,
            icon,
            menu_order,
            menu_type,
            menu_url,
            menu_status,
            open_type,
            permission,
            create_user,
            create_time,
            update_user,
            update_time
            ) VALUES (
            #{parentId},
            #{code},
            #{name},
            #{icon},
            #{menuOrder},
            #{menuType},
            #{menuUrl},
            #{menuStatus},
            #{openType},
            #{permission},
            #{createUser},
            #{createTime},
            #{updateUser},
            #{updateTime}
        )
    </insert>

    <update id="update">
        UPDATE sys_menu
        SET
        <if test="parentId != null">parent_id = #{parentId},</if>
        <if test="code != null and code != ''">code = #{code},</if>
        <if test="name != null and name != ''">name = #{name},</if>
        <if test="icon != null and icon != ''">icon = #{icon},</if>
        <if test="menuOrder != null">menu_order = #{menuOrder},</if>
        <if test="menuType != null">menu_type = #{menuType},</if>
        <if test="menuUrl != null and menuUrl != ''">menu_url = #{menuUrl},</if>
        <if test="menuStatus != null">menu_status = #{menuStatus},</if>
        <if test="openType != null and openType != ''">open_type = #{openType},</if>
        <if test="permission != null and permission != ''">permission = #{permission},</if>
        <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
        <if test="updateTime != null">update_time = #{updateTime},</if>
        id = #{id}
        WHERE id = #{id}
    </update>

    <!--查询菜单信息-->
    <select id="findForObject" parameterType="sysMenu" resultType="sysMenu">
        SELECT
        <include refid="field"/>
        FROM sys_menu a
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>

    <!--查询菜单信息列表-->
    <select id="findForList" parameterType="sysMenu" resultType="sysMenu">
        SELECT
        <include refid="field"/>
        FROM sys_menu a
        WHERE 1 = 1
        <if test="name != null and name != ''">
            AND a.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="parentId != null">
            AND a.parent_id = #{parentId}
        </if>
        <if test="menuType != null">
            AND a.menu_type = #{menuType}
        </if>
        <if test="menuStatus != null">
            AND a.menu_status = #{menuStatus}
        </if>
        <if test="orderField != null">
            order by #{orderField}
        </if>
    </select>

    <delete id="delete" parameterType="sysMenu">
        DELETE FROM sys_menu WHERE id = #{id}
    </delete>
</mapper>