<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.admin.dao.SysRoleDao">
    <!--字段-->
    <sql id="field">
        a.id, a.name, a.phone, a.email, a.username, a.password
    </sql>

    <!--新增用户信息-->
    <insert id="insert">
        INSERT INTO user (name, phone, email, username, password)
        VALUES (#{name},#{phone},#{email},#{username},#{password})
    </insert>

    <update id="update">
        UPDATE user a
        SET id = #{id}
    </update>

    <!--查询用户信息-->
    <select id="findForObject" parameterType="com.leo.admin.bean.SysUser"
            resultType="com.leo.admin.bean.SysUser">
        SELECT
        <include refid="field"/>
        FROM user a
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
        </where>
    </select>

    <!--查询用户信息-->
    <select id="findForList" parameterType="com.leo.admin.bean.SysUser" resultType="com.leo.admin.bean.SysUser">
        SELECT
        <include refid="field"/>
        FROM user a
        <where>
            <if test="id != null">
                AND a.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone = #{phone}
            </if>
            <if test="username != null and username != ''">
                AND a.username = #{username}
            </if>
        </where>
    </select>
</mapper>